<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">

  <title>Document</title>
</head>
<body>
         <!-- {UPERHEADER SECTION} -->
         
        <div class='uperheader_up'>
          <div >
            <p id="faqs">FAQS<span id="faqs1"> SITE MAP</span></p>
            <p id="call">CALL ME:<span id="call1">1230-799-3458</span></p>
          </div>
          
        </div>
    <!-- {NAVBAR SECTION} -->
 
    
    <div class='Navbar_up'>
      <div class='Tim'>
        TIM <span id="braun">BRAUN</span><br/>
        <span id="trainer">PERSONAL TRAINER</span>
      </div>
      <div class='services'>
        <header>
          <p class="a"><a href="/">HOME</a></p>
          <p class="a"><a href="/about-us">ABOUT ME</a></p>
          <p class="a"><a href="/our-products">OUR PRODUCTS</a></p>
          <p class="a"><a href="/bmi-calculator">BMI CALCULATOR</a></p>
        </header>
      </div>
    </div>
</body>
</html>


  
  

   
   


