{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/newHeader.css">
    <link rel="stylesheet" href="/static/css/newHeaderSider.css">
    <title>Home</title>
</head>
<body>
    <div class="Header">
        <div class='header_up'>
          <div class='header_up1'>
            <p id="transform"> “If you fail to prepare, you're prepared to fail.”</p>
            <br/>
            <p id="lorem">“The resistance that you fight physically in the gym and the resistance that you fight in life can only build a strong character.”</p>
            <br/>
            <button class="btn btn-primary" >JOIN US</button>
            <button class="btn btn-primary"><a href="/enquiry">BECOME MEMEBER</a></button>
          </div>
        </div>
    </div>
    <!-- -------------------------------------newHeaderSider------------------------------------------------------ -->
    <div class="container-fluid main">
      <div class="row">
        <div class="col shop">
            <label>OUR SHINING STALWART</label>
        </div>
          <div class="w-100"></div>
          <div class="w-100"></div>
          <div class="w-100"></div>
          <div class="w-100"></div>
          <div class="col-3 flower">
             <a href="#"> <img src="/static/img/1.jpg" alt=""></a>
             <label>Adabelle</label>
             <p>world fintness champion</p>
          </div>
          <div class="col-3  set">
             <a href="#"> <img src="/static/img/2.jpg" alt=""></a>
             <label>Peter Paul</label>
             <p>Mr. America champion</p>
          </div>
          <div class="col-3  rise">
            <a href="#"> <img src="/static/img/3.jpg" alt=""></a>
            <label>Betty</label>
            <p>New York fitness champion</p>
         </div>
          <div class="w-100"></div>
          <div class="w-100"></div>
          <div class="w-100"></div>
          <div class="w-100"></div>
          <div class="col-3  rose">
             <a href="#"> <img src="/static/img/4.jpg" alt=""></a>
             <label>David Hardy</label>
             <p>World champion 2012</p>
          </div>
          <div class="col-3  lily" >
              <a href="#"><img src="/static/img/5.jpg" alt=""></a>
              <label>Arizona</label>
              <p>Mr. South Africa 2019</p>
          </div>
          <div class="col-3  gold">
             <a href="#"> <img src="/static/img/6.jpg" alt=""></a>
             <label>Camroon Paul</label>
             <p>Mr. Asia 2014</p>
          </div>
          <div class="w-100"></div>
          <div class="w-100"></div>
      </div>
      </div>
  </div>
</body>
</html>
{% endblock  %}