{% extends "base.html" %}
{% block content  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Ourproducts</title>
    <link rel="stylesheet" type="text/css"  href="/static/css/news.css">  
</head>
<body>
    
    <div class='news_down_down'>
        <div class="news_down">OUR PRODUCTS</div>
        <div class='news_container'>
          <img src='/static/img/ourproducts.jpg' alt="not load"/>
          <p id="news-inner-header">Lorem ipsum dolor sit amet.</p>
          <p id="news-inner-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, magni! Provident sunt aliquid minima quasi ab magnam facere! Sed, saepe.</p>
        </div>
        <div class='news_container1'>
          <img src='/static/img/ourproducts1.jpg' alt="not load"/>
          <p id="news-inner-header1">Lorem ipsum dolor sit amet.</p>
          <p id="news-inner-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, magni! Provident sunt aliquid minima quasi ab magnam facere! Sed, saepe.</p>
        </div>
        <div class='news_container2'>
          <img src='/static/img/ourproducts2.jpg' alt="not load"/>
          <p id="news-inner-header2">Lorem ipsum dolor sit amet.</p>
          <p id="news-inner-para2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, magni! Provident sunt aliquid minima quasi ab magnam facere! Sed, saepe.</p>
        </div>
        <div>
          <button class="btn btn-primary">VIEW ALL PRODUCTS</button>
        </div>
      </div>
</body>
</html>
{% endblock  %}